.page {
  color: rgb(231, 73, 73);
  font-weight: bold;
  padding: 0 1rem;
  background:white;
  &__box {
    min-height: 120px;
    background: #e6ebec;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: rgb(207, 80, 120);
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
