
<div class="container1">

  <button style="margin-top: 10px" mat-raised-button class="btn" (click)=" getAllstudent()" mat-button > Student Details</button>

  <mat-form-field  appearance="standard">
          <mat-icon>search</mat-icon>&nbsp;<input matInput (keyup)="applyFilter($event)" class="ser" placeholder="Search" #input>

        </mat-form-field>

</div>

<mat-divider></mat-divider>
<div class="container">
    <!-- <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button color="primary">Add Student</button> -->
      <div style="margin-top: 10px">
        <!-- <mat-form-field appearance="standard">
          
          <mat-icon>search</mat-icon><input matInput (keyup)="applyFilter($event)"  placeholder="Search" #input>
        </mat-form-field> -->
        
        <div class="mat-elevation-z8"> 

    <table mat-table [dataSource]="dataSource" matSort>
        

      <ng-container matColumnDef="delete" >
    
        <th mat-header-cell *matHeaderCellDef style='text-align: center' >Select 
        <td mat-cell *matCellDef="let row " style="text-align:center"><mat-checkbox class="example-margin"></mat-checkbox></td>
      </ng-container>
            <!-- ID Column -->
   <!-- <ng-container matColumnDef="uniqueid">   <mat-checkbox>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Uniqueid </th>
            
              <td mat-cell *matCellDef="let row" > {{row.id}} </td>
              </mat-checkbox>   
        
            </ng-container> -->
            <!-- Progress Column -->
            
            <ng-container matColumnDef="studentname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> StudentName </th>
              <td mat-cell *matCellDef="let row"> {{row.studentname}}</td>
            </ng-container>

            <ng-container matColumnDef="coursename">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CourseName </th>
                <td mat-cell *matCellDef="let row"> {{row.coursename}}</td>
            </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}}</td>
              </ng-container>


              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                <td mat-cell *matCellDef="let row"> {{row.contact}}</td>
              </ng-container>

              <ng-container matColumnDef="modeOflearning">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode Of learning </th>
                <td mat-cell *matCellDef="let row"> {{row.modeoflearning}}</td>

              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let row"> {{row.location}}</td>
              </ng-container>

              <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                <td mat-cell *matCellDef="let row"> {{row.payment}}</td>
              </ng-container>
        
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row"> 
                  <button  class="maticon" mat-icon-button (click)="editstudent(row)" >
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button  class="maticon" mat-icon-button (click)="deletestudent(row.id)" >
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          
        </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>

