<h1 mat-dialog-title>Add Department Form</h1>
<form [formGroup]="EmployeeForm">
    <div mat-dialog-content>
      
      <!--<mat-form-field appearance="outline">
        <mat-label>Unique Id</mat-label>
        <input formControlName="UniqueId" matInput placeholder="UniqueId">
      </mat-form-field>-->

        <mat-form-field appearance="outline">

            <mat-label>Employee Id</mat-label>
            <input formControlName="EmployeeId" matInput placeholder="EmployeeId">
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Employee Name</mat-label>
            <input formControlName="EmployeeName" matInput placeholder="EmployeeName">
           </mat-form-field>

           <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>

            <input

            type="text"

            matInput

            formControlName="Email"

            class="form-input-field"

            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"

          />
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contact</mat-label>
            <input formControlName="Contact" matInput  placeholder="Contact">
              
            <mat-error *ngIf="EmployeeForm">please enter 10 digit number</mat-error>

            <mat-hint >10 digit number</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> Designation</mat-label>
            <input formControlName="Designation" matInput  placeholder="Designation">
             </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input formControlName="Location" matInput  placeholder="Location">
          </mat-form-field>

        </div>   
    
</form>
<div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close>Close</button>
<button style="margin-left: 8px;"mat-raised-button color="primary" (click)="addEmployee()">{{actionBtn}}</button>
</div>
