<!-- <div class="container">
    <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button color="primary">Add Student</button>
      <div style="margin-top: 10px">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->
        <div class="container1">

            <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button >Add Trainer</button>
          
            <mat-form-field  appearance="standard">
          
                    <mat-icon>search</mat-icon>&nbsp;<input matInput (keyup)="applyFilter($event)" class="ser" placeholder="Search" #input>
          
                  </mat-form-field>
          
          </div>
          <div class="container"> 
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
  
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style='text-align: center' >Select
                <td mat-cell *matCellDef="let row " style="text-align:center"><mat-checkbox class="example-margin" ></mat-checkbox></td>
              </ng-container>
              
          
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="uniqueid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> uniqueid </th>
                <td mat-cell *matCellDef="let row" > {{row.id}} </td>
              </ng-container> -->
          
              <!-- Progress Column -->
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}}</td>
              </ng-container>
  
              <ng-container matColumnDef="designation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                  <td mat-cell *matCellDef="let row"> {{row.designation}}</td>
              </ng-container>
  
                <ng-container matColumnDef="employeeId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeId </th>
                  <td mat-cell *matCellDef="let row"> {{row.employeeId}}</td>
                </ng-container>
  
  
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let row"> {{row.email}}</td>
                </ng-container>
  
                <ng-container matColumnDef="mode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode </th>
                  <td mat-cell *matCellDef="let row"> {{row.mode}}</td>
                </ng-container>
  
                <ng-container matColumnDef="trainingCourse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Training Course </th>
                  <td mat-cell *matCellDef="let row"> {{row.trainingCourse}}</td>
                </ng-container>
  
                <ng-container matColumnDef="mobileNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                  <td mat-cell *matCellDef="let row"> {{row.mobileNumber}}</td>
                </ng-container>
          
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-icon-button (click)="editTrainer(row)" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteTrainer(row.id)"  color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>
          
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
      
  
  
