
<div class="container1">

  <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button >Add Employee</button>

  <mat-form-field  appearance="standard">
          <mat-icon>search</mat-icon>&nbsp;<input matInput (keyup)="applyFilter($event)" class="ser" placeholder="Search" #input>

        </mat-form-field>

</div>

<br>
<mat-divider></mat-divider>


<div class="container">
  <!--<button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" >Add Employee</button>-->
    <div style="margin-top: 10px">
      
      <!-- <mat-form-field appearance="standard">
         
       <mat-icon>search</mat-icon><input id="input" matInput (keyup)="applyFilter($event)"  placeholder="Search" #input>
      </mat-form-field> -->
      
      <div class="mat-elevation-z9">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef style='text-align: center' >Select
            <td mat-cell *matCellDef="let row " style="text-align:center"><mat-checkbox class="example-margin" ></mat-checkbox></td>
          </ng-container>
          
          <!-- ID Column-->
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>UniqueId </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container> -->

           <!-- ID Column -->
           <ng-container matColumnDef="EmployeeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id </th>
            <td mat-cell *matCellDef="let row"> {{row.EmployeeId}} </td>
          </ng-container>
      
          <!-- Progress Column -->

          <ng-container matColumnDef="EmployeeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeName  </th>
            <td mat-cell *matCellDef="let row"> {{row.EmployeeName}} </td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email  </th>
            <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
          </ng-container>
          <ng-container matColumnDef="Contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact </th>
            <td mat-cell *matCellDef="let row"> {{row.Contact}} </td>
          </ng-container>
          <ng-container matColumnDef="Designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation   </th>
            <td mat-cell *matCellDef="let row"> {{row.Designation}} </td>
          </ng-container>
          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location   </th>
            <td mat-cell *matCellDef="let row"> {{row.Location}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action  </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-icon-button (click)="editEmployee(row)" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteEmployee(row.id)"  color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
</div>
