<div class="container1">
    <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button color="#000000" > External Promoter Details</button>
    <mat-form-field  appearance="standard">
    <mat-icon>search</mat-icon>&nbsp;<input matInput (keyup)="applyfilter($event)" class="ser" placeholder="Search" #input>
    
        </mat-form-field>
    
           
    
    </div>
    
     <div class="container">
       <!-- <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button color="primary">Add PartnerList</button>-->
          <!-- <div style="margin-top: 10px">
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyfilter($event)" placeholder="Ex. Mia" #input>
             
            </mat-form-field>
             -->
           
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                
                
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style='text-align: center' >Select
                <td mat-cell *matCellDef="let row " style="text-align:center"><mat-checkbox class="example-margin" ></mat-checkbox></td>
              </ng-container>
              
              
                <!-- ID Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                
                <ng-container matColumnDef="Designation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                  <td mat-cell *matCellDef="let row"> {{row.Designation}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.Email}}</td>
                  </ng-container>
    
                  <ng-container matColumnDef="InsititutionName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> InsititutionName </th>
                    <td mat-cell *matCellDef="let row"> {{row.InsititutionName}}</td>
                  </ng-container>
    
                  <ng-container matColumnDef="CurrentJob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CurrentJob </th>
                    <td mat-cell *matCellDef="let row"> {{row.CurrentJob}}</td>
                  </ng-container>
              
                  <ng-container matColumnDef="Contact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                    <td mat-cell *matCellDef="let row"> {{row.Contact}}</td>
                  </ng-container>
              
                  <ng-container matColumnDef="CandidateReferredMonthlyWeeklyYearly">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Referred/Monthly/Weekly/Yearly </th>
                    <td mat-cell *matCellDef="let row"> {{row.CandidateReferredMonthlyWeeklyYearly}}</td>
                    
              
                  </ng-container>
              
                  <ng-container matColumnDef="MobileNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MobileNumber </th>
                    <td mat-cell *matCellDef="let row"> {{row.MobileNumber}}</td>
                  </ng-container>
              
            
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row"> 
                    
                    
                      <button mat-icon-button (click)="editexternal(row)" color="primary">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteexternal(row.id)"  color="warn">
                          <mat-icon>delete</mat-icon>
                      </button>
                  </td>
                </ng-container>
            
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
          </div>
        