<!-- 
 <mat-drawer-container>
  
   <mat-drawer mode="side" [opened]="sideBarOpen">
 <mat-drawer mode="side" opened="true">   
  
 </mat-drawer> 
  <mat-drawer-content>
    <app-login></app-login>
     <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header> 
     
    <router-outlet></router-outlet> 
  </mat-drawer-content>
</mat-drawer-container>   -->

<router-outlet></router-outlet>




