/* .card{
    
    border: none;
    width:500px;
    padding:40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%, 36%,1));
}
.card  h1,h6{
    color: #fff;
}
label{
    color: #fff;
} */


.gradient-custom-2 {
    /* fallback for old browsers */
    background-image: url("src/assets/logo.JPG");
   
  background-position: center;
  justify-content: right;
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
    
    .card {
      width: 100%;
      height: 190%;
      /* border-right: 5%;
      border-left: 5%; */
      border-bottom: 5%;
      border-bottom: 10%;
      border-width: 1rem;
      border-color:#35b5ff  ;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }
    
    
    .gradient-custom-3{
      background-color:rgb(74,196,220);
     
    border: 1px solid  rgb(74,196,220);
    border-radius: 10rem;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
      margin-top: 10%;
    align-items: center;
    padding: 12px 45px;
     letter-spacing: 1px;
    /*text-transform: uppercase;
    transition: transform 80ms ease-in; */
    }
   
    h1{
  color: rgb(74,196,220);;
  font-weight: bold;
  
    }
  .checkbox{
    margin-right:100%;
  }
    /* @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    } */
    /* @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    } */
    /* .card rounded-3{
      border-radius: 1000%;
    } */
    
    .container{
      border-color: rgb(134, 76, 0);
    }
    .label
    {
      border-radius: 1rem;
      background-color: aliceblue;
      font-weight: 20px;
    }
  
  

  