<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
            
                <div class="text-center ">
                    <h1>Login</h1>
                    <h6>Please enter email & Password!!!</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type= "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                          <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone else.</small><br>
                          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email Id is required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
                        </div>
                        
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mt-3" >Login</button>
                      </form>
                      <a routerLink="/signup" style="float: right; color:dodgerblue">new user? click to signup!!</a>
                 </div>                    
            </div>
        </div>
    </div>
   -->

   <section class="h-100 gradient-form" style="background-border: rgb(235, 228, 228);">
  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card " >
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                     <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">  -->
                    <h1 class="">ADMIN LOGIN</h1>
                  </div>
  
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                   
  
                    <!-- <div class="form-outline mb-4 ">
                      <label class="form-label" for="form2Example11"><b>Email*</b></label>
                      <input type="email"  class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter your email" autocomplete="off"required="">
  
                    </div> -->
                    
                    <div class="form-group">
  
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
  
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
  
                      <small id="emailHelp" class="form-text"></small><br>
  
                      <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email is required</span>
  
                    </div>
                     
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                      <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
                    </div>
                    <div class="text-center">
                      <label><input type="checkbox" name="remember"> Remember me</label>&nbsp;   &nbsp; <a  href="#!">Forgot password?</a><br>
  
                    <div class="text-center">
                      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mt-3" >Login</button>
                    </div>
                      
                      <br>
                      
                      <!-- <button class=" btn btn-primary btn-block fa-lg gradient-custom-3  mb-8" type="button">Login</button> -->
                     
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <!-- <p class="mb-0 me-2">Don't have an account?</p> -->
                      <!-- <button type="button" class="btn btn-outline-danger">Create new</button> -->
                    </div>
  
                  </form>
                  <a routerLink="/signup" style="float: right; color:dodgerblue">new user? click to signup!!</a>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4"></h4>
                  <p class="small mb-0">
  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  