table {

  width: 100%;


}
.mat-form-field {

  font-size: 14px;
  width: 100%;
}

th{
width: 10%;
color: white;
background-color: rgb(74,196,220);
font-size: 16px;
}

td, th {

  width: 10%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

}
.container1{
  max-width: 20;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 90%;
}
.btn{
  background-color: rgb(74,196,220);
  color: white;
}
.mat-row:nth-child(even){
  background-color: white;

}
.mat-row:nth-child(odd){
  background-color: #F2F3F4;
}

.container{

  max-width: 2000px;

  margin: 0 auto;

}
.container1{

  max-width: 10;

  margin-top: 10px;

  padding-left: 1%;

  padding-right: 90%;

}
.maticon{
  color:rgb(74,196,220);
 }
 .app{
  padding: block 10px;


 }
 