<div class="container1">

  <button style="margin-top: 10px" mat-raised-button class="btn" (click)="openDialog()" mat-button >Add Partner</button>

  <mat-form-field  appearance="standard">
          <mat-icon>search</mat-icon>&nbsp;<input matInput (keyup)="applyFilter($event)" class="ser" placeholder="Search" #input>

        </mat-form-field>

</div>

<br>
<mat-divider></mat-divider>

<div class="container">
   
      <div style="margin-top: 10px">
        
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort> 
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef style='text-align: center' >Select
            <td mat-cell *matCellDef="let row " style="text-align:center"><mat-checkbox class="example-margin" ></mat-checkbox></td>
          </ng-container>
          
            <!-- ID Column -->
            <!-- <ng-container matColumnDef="UniqueID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> UniqueID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
         -->
            <!-- Progress Column -->
            
            <ng-container matColumnDef="PartnerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PartnerName </th>
              <td mat-cell *matCellDef="let row"> {{row.PartnerName}}</td>
            </ng-container>

            <ng-container matColumnDef="CourseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CourseName </th>
                <td mat-cell *matCellDef="let row"> {{row.CourseName}}</td>
              </ng-container>

              <ng-container matColumnDef="Institution">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Institution </th>
                <td mat-cell *matCellDef="let row"> {{row.Institution}}</td>
              </ng-container>

              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.Email}}</td>
              </ng-container>
          
              <ng-container matColumnDef="Contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                <td mat-cell *matCellDef="let row"> {{row.Contact}}</td>
              </ng-container>
          
              <ng-container matColumnDef="ModeofTraining">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modeoftraining </th>
                <td mat-cell *matCellDef="let row"> {{row.ModeofTraining}}</td>
                
          
              </ng-container>
          
              <ng-container matColumnDef="Location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let row"> {{row.Location}}</td>
              </ng-container>
          
        
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row"> 
                  <button mat-icon-button (click)="editpartner(row)" color="primary">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deletepartner(row.id)"  color="warn">
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>