
<h1 mat-dialog-title>Add PartnerList  Form</h1>
<form [formGroup]="partnerlistForm">
    <div mat-dialog-content>
        
          <mat-form-field appearance="outline">
            <mat-label>Partner Name</mat-label>
            <input formControlName="PartnerName" matInput  placeholder="PartnerName">
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Course Name</mat-label>
            <input formControlName="CourseName" matInput  placeholder="CourseName ">
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Institution</mat-label>
            <input formControlName="Institution" matInput  placeholder="Institution">
            </mat-form-field>
          <mat-form-field appearance="outline">
            
              <mat-label>Email</mat-label>
  
              <input
  
              type="text"
  
              matInput
  
              formControlName="Email"
  
              class="form-input-field"
  
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
  
            />
          </mat-form-field>
            
          <mat-form-field appearance="outline">
            <mat-label>Contact</mat-label>
            <input formControlName="Contact" matInput  placeholder="Contact">
            <mat-error *ngIf="partnerlistForm">please enter 10 digit number</mat-error>

            <mat-hint >10 digit number</mat-hint>
            </mat-form-field>
            <mat-radio-group  aria-label="Select an option" formControlName="ModeofTraining">Mode Of Training<br>

              <mat-radio-button value="online">Online</mat-radio-button>&nbsp;

              <mat-radio-button value="offline">Offline</mat-radio-button>

            </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input formControlName="Location" matInput  placeholder="Location">
            </mat-form-field>
    </div>
</form>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;"mat-raised-button color="primary" (click)="addpartner()">{{actionBtn}}</button>
    </div>