<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself</h6>
                </div>
                <form>
                    <form [formGroup]="signupForm" >
                        <div class="form-group">
                            <label for="exampleInputPassword1" >Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Full Name is required</span>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*Mobile Number is required</span>
                          </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                          <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small><br>
                          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email is required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</span>
                        </div>
                        
                        <button type="submit" [disabled]="!signupForm.valid" (click)="signUp()" class="btn btn-primary mt-3">Sign up</button>
                      </form>
                      <a  routerLink="/login" style="float: right; color:dodgerblue">Already registered click to login !!</a>
                </form>
            </div>
        </div>
    </div>
</div>

