<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/fr.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!--<h2 matSubheader class="mt-2">APPLICATIONS</h2>-->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="./home">
    <mat-icon>home</mat-icon> 
    <mat-label >Dashboard</mat-label>
  </a>
 
  <a mat-list-item routerLinkActive="list-item-active" class="textcolor" routerLink="/create-">
    <mat-icon>mail</mat-icon>
    <mat-label >Mail</mat-label>
  </a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/create-">
    <mat-icon>notification_important</mat-icon>
    <mat-label>Notification</mat-label>
  </a><br>
  <mat-divider></mat-divider><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./create-update-employee">
    <mat-icon>person</mat-icon>
    <mat-label>Employee</mat-label>
  </a><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./partner-update-table">
    <mat-icon>people</mat-icon>
    <mat-label>Partner</mat-label>
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./StudentUpdate">
    <mat-icon>people</mat-icon>
    <mat-label>Student</mat-label>
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/ExternalPromoterUpdat">
    <mat-icon>people</mat-icon>
    <mat-label>External Promoter</mat-label>
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/TrainerUpdatetableComponent">
    <mat-icon>people</mat-icon>
    <mat-label>Trainer</mat-label>
  </a><br>
  <!--<a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>-->
</mat-nav-list>
<div class="logo py-4">
  <img src="./assets/frn.png" alt="Company Logo" />
</div>