:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align:left;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}
.mat-divider {
  border-top-width: 1px;
  border-color: rgb(67, 207, 197);
  
}
.mat-list-item {
  color: #070a0a !important;
  font-size: 1.0rem;
  
  font-weight: bold;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      
        color: #030b06 !important;
        :hover{
          color: rgb(74, 196, 220);
        }
      }
    }
  }
  .mat-icon{
    color: rgb(74, 196, 220);
  }

.list-item-active 
{
   background: rgb(236, 236, 238) !important;
 border-radius: 0 2rem 2rem 0;
  &:hover {
     background: rgb(74, 196, 220);
}

  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #ecedef !important;
      &:hover {
        background: white !important;
      }
    }
  }
}
.mat-subheader {
  color: #e0e1ea;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

  

