
<h1 mat-dialog-title>Add Trainer </h1>
<form [formGroup]="trainerForm">
    <div mat-dialog-content>
        
          
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput  placeholder="name">
            </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <input formControlName="designation" matInput  placeholder="designation">
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>EmployeeId</mat-label>
            <input formControlName="employeeId" matInput  placeholder="employeeId">
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input
        type="text"
        matInput
        formControlName="email"
        class="form-input-field"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      />
          </mat-form-field>
         

            <mat-label>Mode </mat-label>
            <mat-radio-group  aria-label="mode" formControlName="mode"><br>
              <mat-radio-button value="online">Online</mat-radio-button>
              <mat-radio-button value="offline">Offline</mat-radio-button>
            </mat-radio-group>
      
          <mat-form-field appearance="outline">
            <mat-label>Training Course</mat-label>
            <input formControlName="trainingCourse" matInput  placeholder="trainingCourse">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input formControlName="mobileNumber" matInput  placeholder="mobileNumber">
          </mat-form-field>
         

    </div>
</form>
<div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close>Close</button>
<button style="margin-left: 8px;"mat-raised-button color="primary" (click)="addTrainer()">{{actionBtn}}</button>
</div>
