
<h1 mat-dialog-title>Add External Promoter  Form</h1>
<form [formGroup]="externalForm">
    <div mat-dialog-content>

     
      
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="Name" matInput  placeholder="Name">
          
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <input formControlName="Designation" matInput  placeholder="Designation ">
            
          </mat-form-field>
         
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
         <input
         type="text"
        matInput
        formControlName="Email"
         class="form-input-field"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          />
       </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>InsititutionName</mat-label>
        <input formControlName="InsititutionName" matInput  placeholder="InsititutionName">
        </mat-form-field>
         
        <mat-form-field appearance="outline">
            <mat-label>CurrentJob</mat-label>
            <input formControlName="CurrentJob" matInput  placeholder="CurrentJob">
            </mat-form-field>
           
            <mat-form-field appearance="outline">
            <mat-label>CandidateReferredMonthlyWeeklyYearly</mat-label>
            <input formControlName="CandidateReferredMonthlyWeeklyYearly" matInput  placeholder="CandidateReferredMonthlyWeeklyYearly">
            </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>MobileNumber</mat-label>
                    <input formControlName="MobileNumber" matInput  placeholder="MobileNumber">
                    <mat-error *ngIf="externalForm">please enter 10 digit number</mat-error>
                    <mat-hint >10 digit number</mat-hint>
                    
                    </mat-form-field>
                   

    </div>
</form>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;"mat-raised-button color="primary" (click)="addexternal()">{{actionBtn}}</button>
    </div>