
<h1 mat-dialog-title>Add Student </h1>
<form [formGroup]="studentForm">
    <div mat-dialog-content>
        
          
          <mat-form-field appearance="outline">
            <mat-label>studentName</mat-label>
            <input formControlName="studentname" matInput  placeholder="studentname">
            </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>courseName</mat-label>
            <input formControlName="coursename" matInput  placeholder="coursename">
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>email</mat-label>

            <input

            type="text"

            matInput

            formControlName="email"

            class="form-input-field"

            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"

          />
        </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>contact</mat-label>
            <input formControlName="contact" matInput  placeholder="contact">
            <mat-error *ngIf="studentForm">please enter 10 digit number</mat-error>

            <mat-hint >10 digit number</mat-hint>
          </mat-form-field>
          
            <mat-label>Mode of Learning</mat-label>

            <mat-radio-group  aria-label="modeoflearning" formControlName="modeoflearning"><br>

              <mat-radio-button value="online">Online</mat-radio-button>&nbsp;

              <mat-radio-button value="offline">Offline</mat-radio-button>

            </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input formControlName="location" matInput  placeholder="location">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>payment</mat-label>
            <input formControlName="payment" matInput  placeholder="payment">
          </mat-form-field>

    </div>
</form>
<div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close>Close</button>
<button style="margin-left: 8px;"mat-raised-button color="primary" (click)="addstudent()">{{actionBtn}}</button>
</div>
